# Copy this file to .env in /home/mgps01/mgpsv2/dev/mgps-public

# Source code directory on the Linux server
CODE_DIR=/home/mgps01/mgpsv2/code/mgpsfren/mgps-fenchise-app

# Deployment directory on the Linux server where this compose file lives
DEPLOY_DIR=/home/mgps01/mgpsv2/dev/mgps-public

# Public website port on the server
PUBLIC_PORT=6079
