.table-centered td, .table-centered th {
    vertical-align: middle !important;
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 1px;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

.btn-group, .btn-group-vertical {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 20px;
    vertical-align: middle;
}