.feeBtn:hover {
    background-color: #ffffff; /* Darker blue */
    border-color: #0056b3;
  }
  .btn-primary:hover {
    background-color: #0056b3; /* Darker blue */
    border-color: #0056b3;
  }
  